/* 320 + */
.b-button {
    display: inline-flex;
    align-items: center;
    column-gap: 18px;

    .proximabold();
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: @cl-white;

    min-height: 50px;
    padding: 13px 22px;
    border: 2px solid @cl-white;
    border-radius: 8px;
    background-color: transparent;

    text-align: center;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    transition: opacity @animation-time;

    & span {
        font-size: 12px;
        line-height: 18px;
    }

    &--arrow-swiper {
        display: none;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 70px;
        width: 50px;
        height: 50px;

        &:disabled {
            opacity: 0.6;
        }
    }

    &--arrow-swiper-next {
        left: auto;
        right: 70px;
        transform: rotate(180deg) translateY(50%);
    }

    &--dark {
        border-color: @cl-very-dark-gray-mostly-black;
        color: @cl-very-dark-gray-mostly-black;
    }

    &--dont-border {
        padding: 0;
        border: none;
        letter-spacing: 0.1px;
        column-gap: 8px;

        & span {
            font-size: 14px;
            line-height: 21px;
        }
    }

    &--min {
        padding: 10px 14px;
        min-height: 42px;
    }

    &--burger {
        margin: 12px 0 18px;
    }
}