/* 320 + */
.b-button {
    display: inline-flex;

    .proximabold();
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: @cl-white;

    padding: 16px 24px;
    border: 2px solid @cl-white;
    border-radius: 8px;
    background-color: transparent;

    text-align: center;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}