mixin connection(connect)
    +b.connection
        +e.title !{connect.title}
        if connect.href
            +e('a')(href=connect.href title=connect.textLink).link !{connect.textLink}
        else if connect.socials
            include socials.pug
            +socials(connect.socials)