/* 320 + */
.b-icon {
    &--btn {
        display: flex;
        font-size: 18px;
        line-height: 1;
    }

    &--arrow-swiper {
        font-size: 18px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--phone {
        font-size: 24px;
    }

    &--accordion {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        opacity: 1;

        transition: opacity @animation-time;

        &.icon-minus {
            opacity: 0;
        }

        .open & {
            &.icon-plus {
                opacity: 0;
            }
            &.icon-minus {
                opacity: 1;
            }
        }
    }
}