/* 320++  */
.b-connection {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }

    &--burger {
        margin-bottom: 10px;
        max-width: 258px;
        width: 100%;
    }

    &--burger & {
        &__link {
            color: @cl-very-dark-gray-mostly-black;
        }
    }

    &--full-width {
        max-width: 100%;
    }

    &__title {
        margin-bottom: 8px
    }
    &__link {
        .proximabold();
        font-size: 20px;
        line-height: 100%;
        color: @cl-white;

        transition: opacity @animation-time;

        &:hover,
        &:active {
            opacity: 0.6;
        }
    }
}