mixin footer(data)
    +b('footer').footer
        .b-container
            +e.wrapper
                +e.name.--mob !{data.name}
                each item in data.footerLink
                    include ../../section/footer-link.pug
                    +footer-link(item)
                +e.data
                    +e.name.--desk !{data.name}
                    each item in data.connection
                        include ../../section/connection.pug
                        +connection(item)
            +e.info
                +e.dealer © 2023 Dealer Company Name
                +e('a').legal-info(href="javascript:void(0);" title="Правовая информация") Правовая информация
                +e.made Сделано в
                    +e('a')(href="javascript:void(0);" title="Perxis") Perxis