/* 320++  */
.b-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    color: @cl-very-dark-gray-mostly-black;

    &__background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: @cl-very-dark-gray-mostly-black;
        pointer-events: none;

        transition: opacity @animation-time;

        opacity: 0;
    }

    &.open & {

        &__background {
            pointer-events: auto;
            opacity: 0.12;
        }
    }

    &__btn {
        position: relative;
        background-color: transparent;
        border: none;
        padding: 8px;
        margin-left: -8px;

        & .b-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: @cl-very-dark-gray;
        }
    }
}