extends ./template/base_layout

block variables
    - var file_name = 'main'

//- Модифицируем head
block head
    - var pageTitle = 'Главная страница';
    - var pageDescription = 'Рандомное описание страницы'
    - var pageImage = 'images/content/test-image.jpg'

//- Выводим попапы
block popup

//- Выводим content
block content
    include section/heading.pug
    +heading([
        {
            picture: {
                img: './images/content/heading/heading-480.jpg',
                source: [
                    {
                    'srcset' : './images/content/heading/heading-1440.webp',
                    'media' : '(min-width: 1024px)',
                    'type' : 'image/webp'
                    },
                    {
                    'srcset' : './images/content/heading/heading-1440.jpg',
                    'media' : '(min-width: 1024px)',
                    },
                    {
                    'srcset' : './images/content/heading/heading-768.webp',
                    'media' : '(min-width: 480px)',
                    'type' : 'image/webp'
                    },
                    {
                    'srcset' : './images/content/heading/heading-768.jpg',
                    'media' : '(min-width: 480px)',
                    },
                    {
                    'srcset' : './images/content/heading/heading-480.jpg',
                    'type' : 'image/webp'
                    },
                ]
            },
            title: 'Яркий заголовок',
            subtitile: 'Слоган или предложение',
            descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            btn: {
                text: 'подобрать',
                icon: 'arrow',
                link: 'javascript:void(0);',
            }
        },
        {
            picture: {
                img: './images/content/heading/heading-480.jpg',
                source: [
                    {
                    'srcset' : './images/content/heading/heading-1440.webp',
                    'media' : '(min-width: 1024px)',
                    'type' : 'image/webp'
                    },
                    {
                    'srcset' : './images/content/heading/heading-1440.jpg',
                    'media' : '(min-width: 1024px)',
                    },
                    {
                    'srcset' : './images/content/heading/heading-768.webp',
                    'media' : '(min-width: 480px)',
                    'type' : 'image/webp'
                    },
                    {
                    'srcset' : './images/content/heading/heading-768.jpg',
                    'media' : '(min-width: 480px)',
                    },
                    {
                    'srcset' : './images/content/heading/heading-480.jpg',
                    'type' : 'image/webp'
                    },
                ]
            },
            title: 'Яркий заголовок',
            subtitile: 'Слоган или предложение',
            descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            btn: {
                text: 'подобрать',
                icon: 'arrow',
                link: 'javascript:void(0);',
            }
        },
        {
            picture: {
                img: './images/content/heading/heading-480.jpg',
                source: [
                    {
                    'srcset' : './images/content/heading/heading-1440.webp',
                    'media' : '(min-width: 1024px)',
                    'type' : 'image/webp'
                    },
                    {
                    'srcset' : './images/content/heading/heading-1440.jpg',
                    'media' : '(min-width: 1024px)',
                    },
                    {
                    'srcset' : './images/content/heading/heading-768.webp',
                    'media' : '(min-width: 480px)',
                    'type' : 'image/webp'
                    },
                    {
                    'srcset' : './images/content/heading/heading-768.jpg',
                    'media' : '(min-width: 480px)',
                    },
                    {
                    'srcset' : './images/content/heading/heading-480.jpg',
                    'type' : 'image/webp'
                    },
                ]
            },
            title: 'Яркий заголовок',
            subtitile: 'Слоган или предложение',
            descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            btn: {
                text: 'подобрать',
                icon: 'arrow',
                link: 'javascript:void(0);',
            }
        },
    ])
    include section/stock.pug
    +stock({
        title: 'Акции и&nbsp;предложения',
        slider: [
            {
                picture: {
                    img: './images/content/stock/stock-1-mob.jpg',
                    source: [
                        {
                        'srcset' : './images/content/stock/stock-1-desk.webp',
                        'media' : '(min-width: 480px)',
                        'type' : 'image/webp'
                        },
                        {
                        'srcset' : './images/content/stock/stock-1-desk.jpg',
                        'media' : '(min-width: 480px)',
                        },
                        {
                        'srcset' : './images/content/stock/stock-1-mob.webp',
                        'type' : 'image/webp'
                        },
                    ]
                },
                title: 'Название акции или предложения',
                descr: 'Excepteur sint occaecat cupidatat non proident, sunt in&nbsp;culpa qui officia deserunt mollit anim id&nbsp;est laborum.',
            },
            {
                picture: {
                    img: './images/content/stock/stock-2-mob.jpg',
                    source: [
                        {
                        'srcset' : './images/content/stock/stock-2-desk.webp',
                        'media' : '(min-width: 480px)',
                        'type' : 'image/webp'
                        },
                        {
                        'srcset' : './images/content/stock/stock-2-desk.jpg',
                        'media' : '(min-width: 480px)',
                        },
                        {
                        'srcset' : './images/content/stock/stock-2-mob.webp',
                        'type' : 'image/webp'
                        },
                    ]
                },
                title: 'Название предложения',
                descr: 'Duis aute irure dolor in&nbsp;reprehenderit in&nbsp;voluptate velit esse cillum dolore eu&nbsp;fugiat nulla pariatur.',
            },
            {
                picture: {
                    img: './images/content/stock/stock-3-mob.jpg',
                    source: [
                        {
                        'srcset' : './images/content/stock/stock-3-desk.webp',
                        'media' : '(min-width: 480px)',
                        'type' : 'image/webp'
                        },
                        {
                        'srcset' : './images/content/stock/stock-3-desk.jpg',
                        'media' : '(min-width: 480px)',
                        },
                        {
                        'srcset' : './images/content/stock/stock-3-mob.webp',
                        'type' : 'image/webp'
                        },
                    ]
                },
                title: 'Название акции',
                descr: 'Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat.',
            },
        ]
    })
    include section/map.pug
    +map()
    include section/advantages.pug
    +advantages({
        title: 'Наши преимущества',
        slider: [
            {
                alt: 'cash',
                img: './images/content/advantages/cash.svg',
                title: 'Выгодно и удобно',
                descr: 'Лучшие предложения покупки с&nbsp;учетом trade-in и&nbsp;в&nbsp;кредит',
            },
            {
                alt: 'car',
                img: './images/content/advantages/car.svg',
                title: 'Автомобили в наличии',
                descr: 'Выбирайте онлайн, экономя время на&nbsp;визит в&nbsp;дилерский центр',
            },
            {
                alt: 'service',
                img: './images/content/advantages/service.svg',
                title: 'Надежный сервис',
                descr: 'Официальный сервис, оригинальные и&nbsp;проверенные запчасти',
            },
        ]
    })